<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Finger.Farm - {{username}}</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body class="htmltext">
    <h1>{{config.baseFingerHost}}</h1>
    <p>
        <pre>{{fingerWelcome}}</pre>
        
    </p>
    <p>
        <strong>Login</strong>: {{username}}
    </p>

    <p>
        <strong>Name</strong>: {{displayname}}
    </p>

    <p>
        <strong>Updated</strong>: {{lastupdate}}
    </p>
    <p>
        <strong>Project</strong>:<br/><pre>{{project}}</pre>
    </p>
    <p style="padding-top: 10px">
        <strong>Plan</strong>:<br/><pre>{{plan}}</pre>
    </p>
    
</body>
</html>